@model IEnumerable<MRSTWEb.Models.BookViewModel>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "SearchByTitle";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<section class="ftco-section ftco-cart" style="margin-top:100px;margin-bottom:150px">

    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h2>Search Results</h2>
                @if (Model.Any())
                {
                    <table class="table   table-bordered">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Image</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Genre</th>
                                <th>Language</th>
                                <th>Price</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model)
                            {

                                <tr class="text-center">
                                    <td>
                                        <img class="card-img-top" style="width:100px;" src="@book.PathImage" alt="Book Image" />
                                    </td>
                                    <td>@book.Title</td>
                                    <td>@book.Author</td>
                                    <td>@book.Genre</td>
                                    <td>@book.Language</td>
                                    <td>@book.Price$</td>
                                  
                                    <td>
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Ajax.BeginForm("AddToCart", "Buy", new { BookId = book.Id }, new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                UpdateTargetId = "cartItems",
                                                InsertionMode = InsertionMode.Replace,
                                                OnSuccess = "updateTotalPriceAndItemCount('add')"
                                            }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <button type="submit" style="cursor:pointer" class="btn-lg btn-success add-to-cart">Add To Cart</button>
                                            }
                                        }
                                        else
                                        {
                                            <button type="button" style="cursor:pointer" class="btn-lg btn-success add-to-cart" onclick="redirectToLogin()">Add To Cart</button>
                                        }

                                    </td>

                                </tr>

                            }


                        </tbody>
                    </table>
                }

                else
                {
                    <h5>No results found.</h5>
                }
            </div>
        </div>
    </div>

</section>


<style>
    td {
        text-align: center;
        color: #333;
        padding: 10px;
        font-size: 20px;
    }

    th {
        text-align: center;
        color: #fff;
        background-color: #007bff;
        padding: 10px;
        font-size: 22px;
    }

    .action-link {
        text-decoration: none;
        color: #007bff;
    }

        .action-link:hover {
            text-decoration: underline;
            cursor: pointer;
        }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<script>
    function redirectToLogin() {
        window.location.href = '@Url.Action("Login", "Account")';
    }

</script>

