@model IEnumerable<MRSTWEb.Models.BookViewModel>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "SearchByTitle";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<section class="ftco-section ftco-cart" style="margin-top:100px;margin-bottom:150px">
    <div class="alert alert-info alert-dismissible fade show" role="alert" id="loginAlert" style="display: none;">
        You need to be logged in to rate the book.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h2>Search Results</h2>
                @if (Model.Any())
                {
                    <table class="table   table-bordered">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Image</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Genre</th>
                                <th>Language</th>
                                <th>Price</th>
                                <th>Review</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model)
                            {

                                <tr class="text-center">
                                    <td>
                                        <img class="card-img-top" style="width:100px;" src="@book.PathImage" alt="Book Image" />
                                    </td>
                                    <td>@book.Title</td>
                                    <td>@book.Author</td>
                                    <td>@book.Genre</td>
                                    <td>@book.Language</td>
                                    <td>@book.Price$</td>
                                    <td>
                                        <a href="#" class="swiper-slide box" data-userid="@User.Identity.GetUserId()" data-book-id="@book.Id" onclick="openReviewModal(this,event)">

                                            <div class="content">


                                                <div data-productId="@(book.Id)" class="star-rating justify-content-center">
                                                    <i class="fa fa-star read" data-rating="5"></i>
                                                    <i class="fa fa-star read" data-rating="4"></i>
                                                    <i class="fa fa-star read" data-rating="3"></i>
                                                    <i class="fa fa-star read" data-rating="2"></i>
                                                    <i class="fa fa-star read" data-rating="1"></i>
                                                </div>
                                                <p style="font-size: 16px; font-weight: bold; color: #333;" class="total-rating_@(book.Id)"></p>
                                                <p style="font-size: 16px; font-weight: bold; color: #333;" class="total-rated_@(book.Id)"></p>

                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Ajax.BeginForm("AddToCart", "Buy", new { BookId = book.Id }, new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                UpdateTargetId = "cartItems",
                                                InsertionMode = InsertionMode.Replace,
                                                OnSuccess = "updateTotalPriceAndItemCount('add')"
                                            }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <button type="submit" style="cursor:pointer" class="btn-lg btn-success add-to-cart">Add To Cart</button>
                                            }
                                        }
                                        else
                                        {
                                            <button type="button" style="cursor:pointer" class="btn-lg btn-success add-to-cart" onclick="redirectToLogin()">Add To Cart</button>
                                        }

                                    </td>

                                </tr>

                            }


                        </tbody>
                    </table>
                }

                else
                {
                    <h5>No results found.</h5>
                }
            </div>
        </div>
    </div>
    @foreach (var book in Model)
    {
        <div class="modal fade" id="reviewModal_@(book.Id)" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel_@(book.Id)" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="reviewModalLabel_@(book.Id)">Leave a Review For @(book.Title)</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="book-details">

                        </div>
                        <div class="star-group">
                            <label style="font-size:13px;" for="starRating_@(book.Id)">Your Rating:</label>
                            <div data-userid="@User.Identity.GetUserId()" data-productid="@(book.Id)" class="star-rating">
                                <i class="fa fa-star" data-rating="5"></i>
                                <i class="fa fa-star" data-rating="4"></i>
                                <i class="fa fa-star" data-rating="3"></i>
                                <i class="fa fa-star" data-rating="2"></i>
                                <i class="fa fa-star" data-rating="1"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:15px;" class="reviewLabel_@(book.Id)">Your Review:</label>
                            <textarea class="form-control" style="font-size:16px;" id="reviewText_@(book.Id)" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-warnings_@(book.Id)"></div>
                    <div class="modal-footer">

                        <button type="button" data-userid="@User.Identity.GetUserId()" data-productid="@(book.Id)" class="btn btn-primary submit">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    }
</section>
<link rel="stylesheet" href="~/Content/css/star-rating.css" />
<script src="~/Jquery_scripts/submitReviews.js"></script>
<style>
    td {
        text-align: center;
        color: #333;
        padding: 10px;
        font-size: 20px;
    }

    th {
        text-align: center;
        color: #fff;
        background-color: #007bff;
        padding: 10px;
        font-size: 22px;
    }

    .action-link {
        text-decoration: none;
        color: #007bff;
    }

        .action-link:hover {
            text-decoration: underline;
            cursor: pointer;
        }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<script>
     function openReviewModal(element, event) {
     event.preventDefault();
     $.ajax({
         url: "@Url.Action("IsAuthenticated", "Home")",
         method: "GET",
         dataType: "json",
         success: function (response) {
             var isLoggedIn = response.isAuthenticated;
             if (isLoggedIn) {
                 var bookId = $(element).data("book-id");
                 var modalId = "#reviewModal_" + bookId;

                 $(modalId).modal('show');


                 $(modalId + ' .close').click(function () {
                     $(modalId).modal('hide');
                 });

             } else {
                 $("#loginAlert").show();
                 $(".star-rating .fa").addClass("disabled");

             }
         }
     });
 }
</script>
<script>
    function redirectToLogin() {
        window.location.href = '@Url.Action("Login", "Account")';
    }

</script>

