@using System.Web.Optimization 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    @Styles.Render("~/Content/css")
   
</head>
<body>
<main id="main"> @RenderBody() </main>
<!-- ======= Header ======= -->
<header class="header"> @Html.Partial("_Header") </header>

<!-- ======= Bottom navbar ======= -->
<nav class="bottom-navbar"> @Html.Partial("_BottomNavbar") </nav>

<!-- ======= Login form container ======= -->
<div class="login-form-container"> @Html.Partial("_LoginFormContainer") </div>

<!-- ======= Home container ======= -->
<div class="home-container"> @Html.Partial("_HomeContainer") </div>

<!-- ======= Icons container ======= -->
<section class="icons-container"> @Html.Partial("_IconsContainer") </section>

<!-- ======= Featured ======= -->
<section class="featured" id="featured"> @Html.Partial("_Featured") </section>

<!-- ======= Newsletter container ======= -->
<div class="newsletter-container"> @Html.Partial("_NewsletterContainer") </div>

<!-- ======= Arrivals ======= -->
<section class="arrivals" id="arrivals"> @Html.Partial("_Arrivals") </section>



<!-- ======= Reviews ======= -->
<section class="reviews" id="reviews"> @Html.Partial("_Reviews") </section>
    
<div class="deal-container"> @Html.Partial("_DealContainer")</div>
    <!-- ======= Blogs ======= -->
    <section class="blogs" id="blogs"> @Html.Partial("_Blogs") </section>

    <!-- ======= Footer ======= -->
    <section class="footer">@Html.Partial("_Footer") </section >



        @Scripts.Render("~/bundles/main/js")
</body>
</html>