@model IEnumerable<MRSTWEb.Models.BookViewModel>
@using Microsoft.AspNet.Identity;
@using MRSTWEb.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}



<div class="home-container">
    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>upto 75% off</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias
                    sit necessitatibus, aliquid ex minima at!
                </p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide"><img src="~/Images/book-1.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="~/Images/book-2.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="~/Images/book-3.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="~/Images/book-4.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="~/Images/book-5.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="~/Images/book-6.png" alt=""></a>
                </div>
                <img src="~/Images/stand.png" class="stand" alt="">
            </div>

        </div>

    </section>
</div>

<!-- ======= Icons container ======= -->
<section class="icons-container">
    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>free shipping</h3>
            <p>order over $100</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure payment</h3>
            <p>100 secure payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy returns</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>call us anytime</p>
        </div>
    </div>
</section>



<!-- ======= Featured ======= -->
<section class="featured" id="featured">

    <h1 class="heading"> <span>featured books</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            @foreach (var book in Model)
            {
                <div class="swiper-slide box">



                    <div class="icons">

                        @using (Ajax.BeginForm("AddToWishList", "Home", new { bookId = book.Id }, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "wishListItems",
                            InsertionMode = InsertionMode.Replace,

                        }, new { @class = "addToWishListForm" }))
                        {
                            <a href="#" class="addToWishlistLink fas fa-heart" data-book-id="@book.Id"></a>
                        }
                        <a href="#" class="fas fa-eye" data-toggle="modal" data-target="#bookModal"
                           data-book-id="@book.Id"></a>

                    </div>

                    <div class="image">
                        <img src="@book.PathImage" alt="">
                    </div>
                    <div class="content">
                        <h3>@book.Title</h3>
                        @{


                            string originalPrice = (book.Price / (1 - book.Percentage / 100)).ToString("0.00");
                            string discountedPrice = book.Price.ToString("0.00");


                        }

                        <div class="price">$@discountedPrice <span>@(book.ExpirationTime > DateTime.Now ? "$" + originalPrice : "")</span></div>



                        @if (Request.IsAuthenticated)
                        {
                            using (Ajax.BeginForm("AddToCart", "Buy", new { BookId = book.Id }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "cartItems",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "updateTotalPriceAndItemCount('add')"
                            }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" style="cursor:pointer" class="btn-lg btn-success add-to-cart" data-bookId="@book.Id">
                                    Add To
                                    Cart
                                </button>
                            }
                        }
                        else
                        {
                            <button type="button" style="cursor:pointer" class="btn-lg btn-success add-to-cart"
                                    onclick="redirectToLogin()">
                                Add To Cart
                            </button>
                        }
                    </div>
                </div>


            }
        </div>




        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- ======= Newsletter container ======= -->
<div class="newsletter-container">

    <section class="newsletter">

        <form action="">
            <h3>subscribe for latest updates</h3>
            <input type="email" name="" placeholder="enter your email" id="" class="box">
            <input type="submit" value="subscribe" class="btn">
        </form>

    </section>

</div>

<!-- ======= Arrivals ======= -->
<section class="arrivals" id="arrivals">
    <div class="alert alert-info alert-dismissible fade show" role="alert" id="loginAlert" style="display: none;">
        You need to be logged in to rate the book.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <style>
        .alert {
            font-size: 15px;
        }

            .alert button {
                font-size: 20px;
            }
    </style>
    <h1 class="heading"> <span>New Arrivals</span> </h1>

    <div class="swiper arrivals-slider">
        <div class="swiper-wrapper">
            @foreach (var arrival in Model)
            {
                <a href="#" class="swiper-slide box" style="height:250px;" data-userid="@User.Identity.GetUserId()" data-book-id="@arrival.Id"
                   onclick="openReviewModal(this,event)">
                    <div class="image">
                        <img src="@arrival.PathImage" alt="">
                    </div>
                    <div class="content">
                        <h3>@arrival.Title</h3>
                        @{


                            string originalPrice = (arrival.Price / (1 - arrival.Percentage / 100)).ToString("0.00");
                            string discountedPrice = arrival.Price.ToString("0.00");


                        }

                        <div class="price">$@discountedPrice <span>@(arrival.ExpirationTime > DateTime.Now ? "$" + originalPrice : "")</span></div>
                        <div data-productId="@(arrival.Id)" class="star-rating">
                            <i class="fa fa-star read" data-rating="5"></i>
                            <i class="fa fa-star read" data-rating="4"></i>
                            <i class="fa fa-star read" data-rating="3"></i>
                            <i class="fa fa-star read" data-rating="2"></i>
                            <i class="fa fa-star read" data-rating="1"></i>
                        </div>
                        <p style="font-size: 16px; font-weight: bold; color: #333;" class="total-rating_@(arrival.Id)"></p>
                        <p style="font-size: 16px; font-weight: bold; color: #333;" class="total-rated_@(arrival.Id)"></p>

                    </div>
                </a>
            }

        </div>

    </div>




</section>



@foreach (var arrival in Model)
{
    <div class="modal fade" id="reviewModal_@(arrival.Id)" tabindex="-1" role="dialog"
         aria-labelledby="reviewModalLabel_@(arrival.Id)" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="reviewModalLabel_@(arrival.Id)">Leave a Review For @(arrival.Title)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="book-details">

                    </div>
                    <div class="star-group">
                        <label style="font-size:13px;" for="starRating_@(arrival.Id)">Your Rating:</label>
                        <div data-userid="@User.Identity.GetUserId()" data-productid="@(arrival.Id)" class="star-rating">
                            <i class="fa fa-star" data-rating="5"></i>
                            <i class="fa fa-star" data-rating="4"></i>
                            <i class="fa fa-star" data-rating="3"></i>
                            <i class="fa fa-star" data-rating="2"></i>
                            <i class="fa fa-star" data-rating="1"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-size:15px;" class="reviewLabel_@(arrival.Id)">Your Review:</label>
                        <textarea class="form-control" style="font-size:16px;" id="reviewText_@(arrival.Id)"
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-warnings_@(arrival.Id)"></div>
                <div class="modal-footer">

                    <button type="button" data-userid="@User.Identity.GetUserId()" data-productid="@(arrival.Id)"
                            class="btn btn-primary submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>

    </div>
}

<section class="reviews" style="margin-top:100px;margin-bottom:200px" id="reviews">
    <h1 class="heading"> <span>client's reviews</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">
            @foreach (var user in ViewBag.UsersReview)
            {
                foreach (var review in user.Reviews)
                {
                    <div class="swiper-slide box">
                        <img src="@user.ProfileImage" style="height:70px;" alt="User Image">
                        <h3>@user.UserName</h3>
                        @if (!string.IsNullOrEmpty(review.Comment))
                        {
                            <p>@review.Comment</p>
                        }
                        else
                        {
                            <p>No Comment found for this user!</p>
                        }

                        <div class="book-details_@review.BookId"></div>
                        <div data-bookId="@(review.BookId)" data-userid="@user.Id" class="rating-review">

                            <i class="fa fa-star read" data-rating="5"></i>
                            <i class="fa fa-star read" data-rating="4"></i>
                            <i class="fa fa-star read" data-rating="3"></i>
                            <i class="fa fa-star read" data-rating="2"></i>
                            <i class="fa fa-star read" data-rating="1"></i>
                        </div>
                        <p style="font-size: 16px; font-weight: bold; color: #333;" class="rating_@(review.BookId)"
                           data-userid="@user.Id"></p>

                        @if (Request.IsAuthenticated && User.IsInRole("admin"))
                        {
                            using (Html.BeginForm("RemovePostedReviewFromMainPage", "Home", FormMethod.Post))
                            {
                                <input type="hidden" name="reviewId" value="@review.Id" />
                                <button type="submit" class="btn btn-danger">Unpublic Review</button>
                            }
                        }
                    </div>


                }
            }


        </div>

    </div>

</section>

<div class="deal-container">
    <section class="deal">

        <div class="content">
            <h3>deal of the day</h3>
            <h1>upto 50% off</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde perspiciatis in atque dolore tempora
                quaerat at fuga dolorum natus velit.
            </p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="image">
            <img src="~/Images/deal-img.jpg" alt="">
        </div>

    </section>



</div>

<!-- ======= Blogs ======= -->
<section class="blogs" id="blogs">
    <h1 class="heading"> <span>our blogs</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="~/Images/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="~/Images/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="~/Images/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="~/Images/blog-4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="~/Images/blog-5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="bookModalLabel">Book Details</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 3em;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</section>


<link rel="stylesheet" href="~/Content/css/star-rating.css" />

<script>
    function redirectToLogin() {
        window.location.href = '@Url.Action("Login", "Account")';
    }

</script>
<script src="~/Jquery_scripts/GetBookDetails.js"></script>
<script src="~/Jquery_scripts/submitReviews.js"></script>


<script>
    function openReviewModal(element, event) {
        event.preventDefault();
        $.ajax({
            url: "@Url.Action("IsAuthenticated", "Home")",
            method: "GET",
            dataType: "json",
            success: function (response) {
                var isLoggedIn = response.isAuthenticated;
                if (isLoggedIn) {
                    var bookId = $(element).data("book-id");
                    var modalId = "#reviewModal_" + bookId;

                    $(modalId).modal('show');


                    $(modalId + ' .close').click(function () {
                        $(modalId).modal('hide');
                    });

                } else {
                    $("#loginAlert").show();
                    $(".star-rating .fa").addClass("disabled");

                }
            }
        });
    }

</script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Jquery_scripts/updateUserReviewInIndex.js"></script>
<style>
    .rating-review {
        font-size: 24px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

        .rating-review i {
            color: #ccc;
            transition: color 0.5s;
        }


            .rating-review i[data-clicked] {
                color: #ffcc00;
            }

                .rating-review i[data-clicked] ~ i {
                    color: #ffcc00;
                }

        .rating-review .fa.disabled {
            cursor: not-allowed;
        }

        .rating-review i.filled {
            color: gold;
            /* Change color to indicate filled */
        }
</style>