@using Microsoft.AspNet.Identity


@{
    var user = User.Identity.GetUserId();
}

<div class="box-container">

    <div class="box">
        <h3>Our location</h3>
        <a href=""> <i class="fas fa-map-marker-alt"></i> Moldova, Chisinau, Strada Studentilor 9/7, Blocul 3/3 </a>

    </div>

    <div class="box">
        <h3>quick links</h3>
        <a href="@Url.Action("Index","Home")#home"> <i class="fas fa-arrow-right"></i> home </a>
        <a href="@Url.Action("Index","Home")#featured"> <i class="fas fa-arrow-right"></i> featured </a>
        <a href="@Url.Action("Index","Home")#arrivals"> <i class="fas fa-arrow-right"></i> arrivals </a>
        <a href="@Url.Action("Index","Home")#reviews"> <i class="fas fa-arrow-right"></i> reviews </a>

    </div>


    <div class="box">
        <h3>extra links</h3>
        <a href="@Url.Action("ClientProfile","Account")"><i class="fas fa-arrow-right"></i> Account info </a>
        <a href="@Url.Action("OrderDetails", "Account", new {userId = user})"> <i class="fas fa-arrow-right"></i> Ordered items </a>

    </div>

    <div class="box">
        <h3>contact info</h3>
        <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
        <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
        <a href="#"> <i class="fas fa-envelope"></i> MRSTWEB@gmail.com </a>
        <img src="~/Images/worldmap.png" class="map" alt="">
    </div>

</div>


<div class="credit"> Created by <span>Oleg, Petru and Mihai</span> | All rights reserved! </div>
