@using System.Web.Optimization




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!-- ======= Header ======= -->
    <header class="header"> @Html.Partial("_Header") </header>

    <!-- ======= Bottom navbar ======= -->
    @*    <nav class="bottom-navbar"> @Html.Partial("_BottomNavbar") </nav>*@

    <!-- ======= Login form container ======= -->

    <main id="main"> @RenderBody() </main>

    <!-- ======= Footer ======= -->
    <section class="footer">@Html.Partial("_Footer") </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Jquery_scripts/UpdateTotalPrice.js"></script>
    @Html.Partial("_Scripts")

    @Scripts.Render("~/bundles/main/js")

</body>
</html>