@model IEnumerable<MRSTWEb.Models.UserModel>
@{
    ViewBag.Title = "OtherUsers";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<section class="ftco-section ftco-cart" style="margin-top:100px;margin-bottom:150px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h2>Other Users</h2>

                <table class="table   table-bordered">
                    <thead class="thead-primary">
                        <tr class="text-center">
                            <th>Image</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            if (user.Name != "Application Admin")
                            {
                                <tr class="text-center">
                                    <td>
                                        <img src="@user.ProfileImage" style="height:70px;" class="img-fluid" alt="User Image">
                                    </td>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Name</td>
                                    <td>@user.Address</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="User Actions">
                                            @using (Html.BeginForm("DeleteUser", "Account", new { userId = user.Id }, FormMethod.Post, new { @class = "removeUserForm-" + user.Id }))
                                            {
                                                <input type="hidden" name="userId" value="@user.Id" />
                                                <p class="action-link" onclick="confirmDelete('@user.Id')">Delete</p>
                                            }
                                            /
                                            @Html.ActionLink("Orders", "OrderDetails", "Account", new { userId = user.Id }, new { @class = "action-link" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>




            </div>
        </div>
    </div>
</section>

<style>
    td {
        text-align: center;
        color: #333;
        padding: 10px;
        font-size: 20px;
    }

    th {
        text-align: center;
        color: #fff;
        background-color: #007bff;
        padding: 10px;
        font-size: 22px;
    }

    .action-link {
        text-decoration: none;
        color: #007bff;
    }

        .action-link:hover {
            text-decoration: underline;
            cursor: pointer;
        }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<script>
    function confirmDelete(userId) {
        if (confirm("Are you sure you want to remove the User?")) {
            var form = document.querySelector(".removeUserForm-" + userId);
            if (form) {
                form.submit();
            } else {
                console.error("Form not found for user ID:", userId);
            }
        }
    }
</script>



