@model IEnumerable<MRSTWEb.Models.UserModel>
@{
    ViewBag.Title = "ViewClientReviews";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<section class="reviews" style="margin-top:100px;margin-bottom:200px" id="reviews">
    <h1 class="heading"> <span>client's reviews</span> </h1>

    @if (Model != null && Model.Any())
    {



        <div class="swiper reviews-slider">

            <div class="swiper-wrapper">
                @foreach (var user in Model)
                {
                    foreach (var review in user.Reviews)
                    {
                        <div class="swiper-slide box">
                            <img src="@user.ProfileImage" style="height:70px" alt="User Image">
                            <h3>@user.UserName</h3>
                            @if (!string.IsNullOrEmpty(review.Comment))
                            {
                                <p>@review.Comment</p>
                            }
                            else
                            {
                                <p>No Comment found for this user!</p>
                            }

                            <div class="book-details_@review.BookId"></div>
                            <div data-productId="@(review.BookId)" data-userid="@user.Id" class="star-rating">

                                <i class="fa fa-star read" data-rating="5"></i>
                                <i class="fa fa-star read" data-rating="4"></i>
                                <i class="fa fa-star read" data-rating="3"></i>
                                <i class="fa fa-star read" data-rating="2"></i>
                                <i class="fa fa-star read" data-rating="1"></i>
                            </div>
                            <p style="font-size: 16px; font-weight: bold; color: #333;" class="total-rating_@(review.BookId)"
                               data-userid="@user.Id"></p>

                            <button type="submit" class="btn btn-danger favouriteButton" data-review="@review.Id">
                                Post
                                Review
                            </button>
                            @using (Html.BeginForm("RemoveReview", "Home", new { reviewId = review.Id }, FormMethod.Post, new
                            {
                                @class = "deleteReview-" + review.Id
                            }))
                            {
                                @Html.HiddenFor(model => review.Id)
                                <button type="submit" class="btn btn-danger" onclick="confirmDelete(@review.Id)">Remove Review</button>

                            }

                        </div>


                    }
                }


            </div>

        </div>

    }
    else
    {
        <p style="font-size:15px;">No reviews available.</p>
    }

    <div class="alert alert-success  fade show justify-content-center" role="alert" style="display:none">
        Review Successfuly added to main page.

    </div>
    <div class="alert alert-warning  fade show justify-content-center" role="alert" style="display:none">
        Review was already added to main page.

    </div>
</section>



<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Jquery_scripts/getFavouriteReview.js"></script>

<script src="~/Jquery_scripts/updateUserReviewInAdmin.js"></script>
<script>
    function confirmDelete(reviewId) {
        if (confirm("Are you sure you want to remove the review?")) {
            document.querySelector("deleteReview-" + reviewId).submit();
        }
    }
</script>
<style>
    .star-group {
        display: inline-block;
    }

    .star-rating {
        font-size: 24px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

        .star-rating i {
            color: #ccc;
            transition: color 0.5s;
        }

            .star-rating i:hover,
            .star-rating i:hover ~ i {
                color: #ffcc00;
            }

            .star-rating i[data-clicked] {
                color: #ffcc00;
            }

                .star-rating i[data-clicked] ~ i {
                    color: #ffcc00;
                }

        .star-rating .fa.disabled {
            cursor: not-allowed;
        }

        .star-rating i.filled {
            color: gold;
            /* Change color to indicate filled */
        }

    .alert {
        font-size: 15px;
    }

        .alert button {
            font-size: 20px;
        }
</style>
